mixin videoBlock(video = {})
    .videoBlock
        a(href=routes.videoDetail(video.id))
            video.videoBlock__thumbnail(src=video.videoFile, controls=false, preload="metadata")
                source(src=`${video.videoFile}#t=0.5`)
            .videoBlock__info.info                
                if video.creator
                    .info__avatar
                        img.u-avatar(src=video.creator.avatarUrl)
                .info__content
                    h4.videoBlock__title=video.title
                    h6.vidoeBlock__views 조회수 #{video.views}회
                
        