extends layouts/main
include mixins/videoPlayer

block content
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl
        })
        .video__info
            .video__primary-info
                h5.video__title=video.title
                span.video__views 조회수 #{video.views}회
                
                
                .form-container
                    if loggedUser !== null
                        if video.creator.id === loggedUser.id
                            a(href=routes.editVideo(video.id))
                                button Edit video
                hr  

            .video__author                 
                a(href=routes.userDetail(video.creator.id)) 
                    img.u-avatar(src=video.creator.avatarUrl)
                    span=video.creator.name
            .video__description    
                span=video.description    
            

        .video__comments            
            span.video__comment-number
                | 댓글 
                span#jsCommentNumber=comments.length
                | 개

            if loggedUser
                form.add__comment#jsAddComment
                    img.u-avatar(src=loggedUser.avatarUrl)                
                    input(type="text", placeholder="공개 댓글 추가...")
            else 
                form.add__comment#jsAddComment
                    input(type="text", placeholder="로그인해주세요.")
            ul.video__comments-list#jsCommentList
                each comment, idx in comments.reverse()                    
                    .video__comments-list-container                        
                        img.u-avatar(src=comment.creator.avatarUrl, id="js-userAvatar")                             
                        li                            
                            span=comment.text
                        if loggedUser !== null
                            if String(video.comments[idx].creator) === String(loggedUser.id)
                                .delBtn
                                    span.fas.fa-trash-alt(id=`${comment._id}`) 
