header.header
	.header__wrapper
		.header__column
			a.youtube-logo(href=routes.home)
				i.fab.fa-youtube
				span BellmyTube
		.header__column
			form(action=routes.search, method="get", id="search-form")
				.input__container
					input(type="text", placeholder="검색", name="term")
					<a href="#" onclick="document.getElementById('search-form').submit()">
						.search__container
							i.fas.fa-search
					</a>
		.header__column
			ul
				if !loggedUser
					li
						a(href=routes.join) Join
					li
						a(href=routes.login) Log In
				else
					li
						a(href=`/videos${routes.upload}`)
							.upload-icon
								i.fas.fa-upload
					li
						if loggedUser.avatarUrl
							a(href=routes.me)
								img.u-avatar(src=loggedUser.avatarUrl)
						else	
							a(href=routes.me)
								span Profile
					li
						a(href=routes.logout)
							.logout-icon
								i.fas.fa-sign-out-alt